* {
  font-size: 1.025rem;
}

.margin-bottom {
  margin-bottom: 20px;
}

.margin-x {
  margin-left: 4px;
  margin-right: 4px;
}

.done {
  text-decoration: line-through;
  background-color: #d5e0d5;
}

.card {
  background-color: #f8f8fd;
  border-radius: 8px;
  border: 1px solid grey;
  overflow: hidden;
  margin-bottom: 16px;

  &__close-button {
    border: none;
    background-color: transparent;
    padding: 6px;
  }

  &__content {
    padding: 12px;
    justify-content: space-between;
  }
}

.flex {
  display: flex;
}

.right {
  justify-content: right;
}