.done {
  text-decoration: line-through;
}

.card {
  background-color: azure;
  border-radius: 8px;
  border: 1px solid blueviolet;
  overflow: hidden;
  margin-bottom: 16px;

  &--disabled {
    background-color: red;
  }

  %--enabled {
    background-color: blueviolet;
  }

  &__header {
    width: 100%;
    background-color: antiquewhite;
  }

  &__close-button {
    border: none;
    background-color: transparent;
    padding: 6px;
  }

  &__content {
    padding: 12px;
  }
}